.logoutbtn{
    margin-right:50px;
}
form{
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 150px;
    padding-top:40px;
}

body {font-family: Arial, Helvetica, sans-serif;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

small{
  color:red;
  font-style:italic;
}

/* .main-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  box-shadow: 0 4px 20px 0px gray;
} */